# Example: daily restic backup of django_media (adjust OnCalendar).
#
[Unit]
Description=Timer for restic django_media backup

[Timer]
OnCalendar=daily
Persistent=true

[Install]
WantedBy=timers.target
